In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv('https://github.com/philoma/Dataset/raw/main/Car%20Depriciation.csv')

In [3]:
df.sample(5)

,Car_Name,Year,Selling_Price,Initial_Price,KM_Driven,Fuel_Type,Seller_Type,Transmission,Owner
198,Bajaj Discover 125,2011,0.15,0.570,35000,Petrol,Individual,Manual,1
175,Hero Honda CBZ extreme,2011,0.38,0.787,75000,Petrol,Individual,Manual,0
298,city,2009,3.35,11.000,87934,Petrol,Dealer,Manual,0
232,elantra,2015,11.45,14.790,12900,Petrol,Dealer,Automatic,0
289,city,2016,10.11,13.600,10980,Petrol,Dealer,Manual,0

In [4]:
df.nunique()

Car_Name          98
Year              16
Selling_Price    156
Initial_Price    147
KM_Driven        206
Fuel_Type          3
Seller_Type        2
Transmission       2
Owner              3
dtype: int64

In [5]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Initial_Price    0
KM_Driven        0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [6]:
y=df.iloc[:,:]
y

,Car_Name,Year,Selling_Price,Initial_Price,KM_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [7]:
def details(df):
    print(f'Data Shape: {df.shape}')
    ans=pd.DataFrame(df.dtypes, columns=['data type'])
    ans['n_miss']=df.isnull().sum().values
    ans['p_miss']=df.isnull().sum().values/len(df)*100
    ans['n_unique']=df.nunique().values
    desc=pd.DataFrame(df.describe(include='all').transpose())
    ans['min']=desc['min'].values
    ans['max']=desc['max'].values
    ans['mean']=desc['mean'].values
    ans['standard_daviation']=desc['std'].values
    ans['first value'] = df.loc[0].values
    ans['second value'] = df.loc[1].values
    ans['third value'] = df.loc[2].values
    return ans

In [8]:

details(df).style.background_gradient(cmap='Set3_r')

Data Shape: (301, 9)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Initial_Price  301 non-null    float64
 4   KM_Driven      301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [10]:
numerical_train=df.select_dtypes(['int64', 'float64'])
cat_train=df.select_dtypes('object')

In [39]:
numerical_train

     Year  Selling_Price  Initial_Price  KM_Driven  Owner
0    2014           3.35           5.59      27000      0
1    2013           4.75           9.54      43000      0
2    2017           7.25           9.85       6900      0
3    2011           2.85           4.15       5200      0
4    2014           4.60           6.87      42450      0
..    ...            ...            ...        ...    ...
296  2016           9.50          11.60      33988      0
297  2015           4.00           5.90      60000      0
298  2009           3.35          11.00      87934      0
299  2017          11.50          12.50       9000      0
300  2016           5.30           5.90       5464      0

[301 rows x 5 columns]

In [11]:
cat_train

    Car_Name Fuel_Type Seller_Type Transmission
0       ritz    Petrol      Dealer       Manual
1        sx4    Diesel      Dealer       Manual
2       ciaz    Petrol      Dealer       Manual
3    wagon r    Petrol      Dealer       Manual
4      swift    Diesel      Dealer       Manual
..       ...       ...         ...          ...
296     city    Diesel      Dealer       Manual
297     brio    Petrol      Dealer       Manual
298     city    Petrol      Dealer       Manual
299     city    Diesel      Dealer       Manual
300     brio    Petrol      Dealer       Manual

[301 rows x 4 columns]

In [12]:
 cat_train['Car_Name'].nunique()

98

In [13]:
cat_train['Fuel_Type'].nunique()

3

In [14]:
cat_train['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [15]:
cat_train['Seller_Type'].nunique()

2

In [16]:
cat_train['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [17]:
cat_train['Transmission'].nunique()

2

In [18]:
cat_train['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [19]:
# all these are nominal data, so- onehotencoding we'll use

One Hot Encoding using pandas

In [20]:
pd.get_dummies(cat_train, columns=['Fuel_Type', 'Seller_Type', 'Transmission'])

,Car_Name,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,ritz,0,0,1,1,0,0,1
1,sx4,0,1,0,1,0,0,1
2,ciaz,0,0,1,1,0,0,1
3,wagon r,0,0,1,1,0,0,1
4,swift,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...
296,city,0,1,0,1,0,0,1
297,brio,0,0,1,1,0,0,1
298,city,0,0,1,1,0,0,1
299,city,0,1,0,1,0,0,1
300,brio,0,0,1,1,0,0,1

In [21]:
# there arises a problem of multicollinearity, thus-

In [22]:
pd.get_dummies(cat_train, columns=['Fuel_Type', 'Seller_Type', 'Transmission'], drop_first=True)

,Car_Name,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,ritz,0,1,0,1
1,sx4,1,0,0,1
2,ciaz,0,1,0,1
3,wagon r,0,1,0,1
4,swift,1,0,0,1
...,...,...,...,...,...
296,city,1,0,0,1
297,brio,0,1,0,1
298,city,0,1,0,1
299,city,1,0,0,1
300,brio,0,1,0,1

In [23]:
# from each categories, first col is dropped

One Hot Encoding using sklearn

In [24]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
ohe=OneHotEncoder(drop='first', handle_unknown='ignore')
#Whether to raise an error or ignore if an unknown categorical feature is present during transform (default is to raise).
# When this parameter is set to ‘ignore’ and an unknown category is encountered during transform, the resulting one-hot
# encoded columns for this feature will be all zeros.
# In the inverse transform, an unknown category will be denoted as None.

In [37]:
ohe.fit_transform(cat_train[['Fuel_Type', 'Seller_Type', 'Transmission']]).toarray()

array([[0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       ...,
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.]])

In [38]:
temp_cat_train=pd.DataFrame(ohe.fit_transform(cat_train[['Fuel_Type', 'Seller_Type', 'Transmission']]).toarray(), columns=['Fuel_Type_Diesel',	'Fuel_Type_Petrol',	'Seller_Type_Individual',	'Transmission_Manual'])
temp_cat_train

,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,1.0
3,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,1.0
...,...,...,...,...
296,1.0,0.0,0.0,1.0
297,0.0,1.0,0.0,1.0
298,0.0,1.0,0.0,1.0
299,1.0,0.0,0.0,1.0
300,0.0,1.0,0.0,1.0

In [43]:
df=pd.concat([numerical_train, cat_train.iloc[:,0], temp_cat_train], axis=1)

In [44]:
df

,Year,Selling_Price,Initial_Price,KM_Driven,Owner,Car_Name,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,2014,3.35,5.59,27000,0,ritz,0.0,1.0,0.0,1.0
1,2013,4.75,9.54,43000,0,sx4,1.0,0.0,0.0,1.0
2,2017,7.25,9.85,6900,0,ciaz,0.0,1.0,0.0,1.0
3,2011,2.85,4.15,5200,0,wagon r,0.0,1.0,0.0,1.0
4,2014,4.60,6.87,42450,0,swift,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,0,city,1.0,0.0,0.0,1.0
297,2015,4.00,5.90,60000,0,brio,0.0,1.0,0.0,1.0
298,2009,3.35,11.00,87934,0,city,0.0,1.0,0.0,1.0
299,2017,11.50,12.50,9000,0,city,1.0,0.0,0.0,1.0
300,2016,5.30,5.90,5464,0,brio,0.0,1.0,0.0,1.0

In [47]:
cat_train

    Car_Name Fuel_Type Seller_Type Transmission
0       ritz    Petrol      Dealer       Manual
1        sx4    Diesel      Dealer       Manual
2       ciaz    Petrol      Dealer       Manual
3    wagon r    Petrol      Dealer       Manual
4      swift    Diesel      Dealer       Manual
..       ...       ...         ...          ...
296     city    Diesel      Dealer       Manual
297     brio    Petrol      Dealer       Manual
298     city    Petrol      Dealer       Manual
299     city    Diesel      Dealer       Manual
300     brio    Petrol      Dealer       Manual

[301 rows x 4 columns]

In [49]:
ohe.categories_

[array(['CNG', 'Diesel', 'Petrol'], dtype=object),
 array(['Dealer', 'Individual'], dtype=object),
 array(['Automatic', 'Manual'], dtype=object)]